body{
  font-family: 'Bitter', serif;
}
i{
  padding: 3px;
  cursor: pointer;
}
h2{
  text-align: center;
}
.card-text{
  padding: 4px;
  background-color:#e0e8e8cc;
  border-radius: 3px;
}
.card-header{
  background-color:#afefd9;
}
.card{
  background-color:#afefd9;
}
.my-5{
  margin-bottom: 2rem!important;
}

.btn-addnote{
  background-color: #0aa640;
}

/* About  */
img{
  width:55vw;
}
@media screen and (max-width: 800px) {
  .d-flex{
    flex-direction: column;
    text-align: center;
  }
  li{
    list-style: none;
  }
  .header img{
    width: 80vw;
  }
}
