i{
  padding: 3px;
  cursor: pointer;
}
h2{
  text-align: center;
}
.card-text{
  padding: 4px;
  background-color:#e0e8e8cc;
  border-radius: 3px;
}
.card-header{
  background-color:#afefd9;
}
.card{
  background-color:#afefd9;
}
.my-5{
  margin-bottom: 2rem!important;
}